@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.text {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}

button{

    background-color:rgba(18,124,174,255);
}